a {
  color: #fff;
  text-decoration: none;
  overflow: scroll;
}

.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 20;
}
.me span {
  font-weight: bold;
}
.social {
position: absolute;
  top: 0px;

}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-340px, 0);
  -moz-transform: translate(-340px, 0);
  -ms-transform: translate(-340px, 0);
  -o-transform: translate(-340px, 0);
  transform: translate(-340px, 0);

}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 30px 30px 30px 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1.5s;
}
.social ul li:hover {
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  transform: translate(200px, 0);
  background: rgba(255, 160, 30, 255);
}
.social ul li:hover a {
  color:  #295f48;
}
.social ul li:hover i {
  color:  #ffff;
  background: rgba(0, 111, 33, 255);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1.5s;
}
.social ul li i {
  margin-left: 15px;
  color: #000;
  background: #fff;
  padding: 5px;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  border-radius: 70%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

body {
  background:#d6edff;
  color: #fff;
  font-family: 'Raleway', sans-serif;
    
}